@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.head-part {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.head-img {
    padding-left: 100px;
}

.title-focus {
    color: #F25C05;
}

.title {
    font-size: 2rem;
    border-left: 5px solid #A61508;
    border-radius: 5px;
    padding: 10px;
}

.head-img img {
    width: 80%;
}

.explore-btn {
    color: white;
    background-color: #A61508;
    padding: 10px;
    border: 1px solid #A61508;
    border-radius: 10px;
}

.explore-btn:hover {
    color: #A61508;
    border: 1px solid #A61508;
    background-color: white;
    transition: 1s;
}

.mission {
    width: 80%;
    margin: 100px auto;
}

.mission-title {
    text-align: center;
    color: #A61508;
    font-size: 2rem;
}

.my-mission {
    display: flex;
    gap: 20px;
}

.my-mission img {
    width: 60%;
}


.mission-mission {
    background-color: #D6F2C9;
    border: 1px solid #F27405;
    padding: 20px;
    border-radius: 20px;
}

.mission-vision {
    background-color: #F2E6DF;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 20px;
}

.mission-goal {
    background-color: #F27405;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}

.develop-part {
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    background-image: url('./images/shapes/shape-1.png');
    background-position: left bottom;
    background-size: 50%;
    background-repeat: no-repeat;
}

.community-part {
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    background-image: url('./images/shapes/shape-9.png');
    background-position: right bottom;
    background-size: 50%;
    background-repeat: no-repeat;
}

.develop-part img {
    width: 70%;
}

.community-part img {
    width: 80%;
}